{% extends "layout.html" %}
{% block body %}
<h1>Tools running jobs on Precise OGE hosts in last 7 days</h1>

<p>See <a href="https://wikitech.wikimedia.org/wiki/Tools_Precise_deprecation">Tools Precise deprecation</a> for information on migrating your tool off of Precise before the 2017-03-06 deadline.</p>

<p>Total tools still running on Precise: <var>{{ tools|count }}</var></p>

<table id="precise">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Job</th>
      <th>Total seen</th>
      <th>Last seen</th>
    </tr>
  </thead>
  <tbody>
    {% for tool, jobs in tools|dictsort %}
    <tr>
      <td rowspan="{{ jobs|count }}" id="{{ tool }}" class="tool-name">
        <a href="//tools.wmflabs.org/?tool={{ tool|urlencode }}">{{ tool }}</a>
      </td>
      {% for job, data in jobs|dictsort %}
        {% if not loop.first %}<tr>{% endif %}
        <td class="job-name">{{ job }}</td>
        <td class="seen">{{ data.count }}</td>
        <td class="last">{{ data.last.strftime('%Y-%m-%d %H:%M') }}</td>
        {% if not loop.last %}</tr>{% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
