{% extends "layout.html" %}
{% block body %}
<h1>Tools maintained by {{user}} running jobs on the grid engine in last 7 days</h1>

<p>{{user}}'s tools still running on the grid engine: <var>{{ tools|count }}</var></p>
<p>Last updated: <var>{{ generated }}</var></p>

<table id="precise">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Job</th>
      <th>Total seen</th>
      <th>Last seen (exit)</th>
    </tr>
  </thead>
  <tbody>
    {% for tool_name, tool_data in tools|dictsort %}
    <tr>
      <td rowspan="{{ tool_data.jobs|count }}" id="{{ tool_name }}" class="tool-name">
        <a href="{{ url_for('tool', name=tool_name) }}">{{ tool_name }}</a>
        {% if tool_data.disabled %}
          (grid access disabled)
        {% endif %}

        <div class='members'>
          members:
          <ul>
            {% for member in tool_data.members|sort %}
            {% if member == user %}
            <strong>{{ member }}</strong>
            {% else %}
            <li><a href="{{ url_for('user', user=member) }}">{{ member }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </td>
      {% for job, data in tool_data.jobs|dictsort %}
        {% if not loop.first %}<tr>{% endif %}
        <td class="job-name">{{ job }}</td>
        <td class="seen">{{ data.count }}</td>
        <td class="last">{{ data.last }}</td>
        {% if not loop.last %}</tr>{% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
